
BCS/BCS-Subs/Better.Call.Saul.S01E02.HDTV.LOL.en.srt

*.srt

*.mp4

Mentalist/plot_to_char.py

Mentalist/test-mentalist.avi

*.png

Mentalist/sub_to_char.py

Mentalist/instructions.txt

*.png

video_meta/mentalist/mentalist_plot.txt

video_meta/mentalist/mentalist_transc.txt

video_meta/BCS/BCS1E1.txt

video_meta/BCS/BCS1E2.txt

*.png

thumbnails/thumb1.png

thumbnails/thumb10.png

thumbnails/thumb99.png
